/* BJ Blue Original por
  _                          _____       _                 
 | |                        / ____|     (_)                
 | |    _   _  ___ __ _ ___| |  __ _   _ _ _ __ ___   __ _ 
 | |   | | | |/ __/ _` / __| | |_ | | | | | '_ ` _ \ / _` |
 | |___| |_| | (_| (_| \__ \ |__| | |_| | | | | | | | (_| |
 |______\__,_|\___\__,_|___/\_____|\__,_|_|_| |_| |_|\__,_|
 
*/

/* Layout (Torrents page) */

/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_applications {
    width: 28px;
    height: 28px;
    background: url('images/apps.png') no-repeat center center;
}

.cats_audiobooks {
    width: 28px;
    height: 28px;
    background: url('images/audiobook.png') no-repeat center center;
}

.cats_comedy {
    width: 28px;
    height: 28px;
    background: url('images/comedy.png') no-repeat center center;
}

.cats_comics {
    width: 28px;
    height: 28px;
    background: url('images/comics.png') no-repeat center center;
}

.cats_ebooks {
    width: 28px;
    height: 28px;
    background: url('images/ebook.png') no-repeat center center;
}

.cats_elearningvideos {
    width: 28px;
    height: 28px;
    background: url('images/elearning.png') no-repeat center center;
}

.cats_music {
    width: 28px;
    height: 28px;
    background: url('images/music.png') no-repeat center center;
}

/* Global */
* {
    padding: 0em;
    margin: 0em;
}

html {
    width: 100%;
}

body {
    background-color: #FAFAFA;
    width: 100%;
    min-width: 850px;
    font-family: tahoma, helvetica, sans-serif;
    font-size: 12px;
    color: #000;
}

/* Common elements */

a {
    text-decoration: none;
    border: none;
    color: #444;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

.head a {
    color: #FFF;
}

#inbox .head a {
    color: #333;
}

.colhead a,
.colhead_dark a {
    color: #FFF;
}

.forum_post .colhead_dark a {
    color: #333;
}

#more_news a {
    color: #FFF;
}

h1, h2, h3, h4 {
    margin: 5px 0px;
    font-weight: bold;
}

#forums .forum_list h3 {
    background: url('table-header-blue.png') repeat-x;
    margin-bottom: 0;
    padding: 6px 10px;
    font-size: 90%;
    color: #FFF;
}

h2 {
    text-align: center;
    font-size: 12pt;
}

h4 {
    font-size: 12px;
}

p {
    margin: 10px 5px;
}

li {
    margin: 5px 15px;
}

input {
    padding: 2px 3px;
}

textarea {
    padding: 2px 3px;
}

img {
    border: none;
}

/* Ratio Colors */

.r00 {
    color: #FF0000;
}

.r01 {
    color: #FF1300;
}

.r02 {
    color: #FF1300;
}

.r03 {
    color: #FF2600;
}

.r04 {
    color: #FF4C00;
}

.r05 {
    color: #FF5E00;
}

.r06 {
    color: #FF5E00;
}

.r07 {
    color: #FF7100;
}

.r08 {
    color: #FF9700;
}

.r09 {
    color: #af7500;
}

.r10 {
    color: #3f6a19;
}

.r20 {
    color: #326a00;
}

.r50 {
    color: #214600;
}

.r99 {
    color: #224400;
}

/* Styles generated by the BBCode parser */

span.size1 {
    font-size: 0.75em;
}

span.size2 {
    font-size: 1em;
}

span.size3 {
    font-size: 1.25em;
}

span.size4 {
    font-size: 1.5em;
}

span.size5 {
    font-size: 1.75em;
}

span.size6 {
    font-size: 2em;
}

span.size7 {
    font-size: 2.25em;
}

span.size8 {
    font-size: 2.5em;
}

span.size9 {
    font-size: 2.75em;
}

span.size10 {
    font-size: 3em;
}

ul.thin {
    margin: 0px 0px 0px 25px;
    padding: 0px;
}

ul.thin li {
    margin: 0px 0px;
    padding: 0px;
}

/* Layout (Every page) */

#header {
    background: url('header.png') repeat-x top center;
    width: 100%;
    padding: 0px 0 0 0;
}

#content {
    margin: auto;
    margin-top: 100px;
    width: 90%;
    overflow: hidden;
}

#footer {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    font-size: 0.9em;
}

#logo {
    width: 100%;
    height: 205px;
    background: url('logo.png') no-repeat top center;
    margin: 0 auto;
}

#logo a {
    border: none;
    width: 800px;
    height: 200px;
    display: block;
}

#logo a:hover {
    border: none;
}

#menu {
    background: #EEEEF0 url('menu.png') repeat-x;
    position: absolute;
    top: 205px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    z-index: 1001;
}

#centertopmenu {
    width: 745px ;
    margin-left: auto ;
    margin-right: auto ;
}

#menu ul li a.active,
#menu ul li a:focus,
#menu ul li a:hover {
    color: #1E5397;
}

/*Menu DropDown*/
#menudrop {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

#menudrop ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#menudrop ul a {
    display: block;
    color: #0E2D64;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
}

#menudrop ul li {
    border-left: 1px solid #EEE;
    border-right: 1px solid #CACBCA;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 145px;
}

#menudrop ul li.current-menu-item {
    background-color: #DDD
}

#menudrop ul li:hover,
#menudrop ul li:focus {
    background-color: #B8B8B8;
}

#menudrop ul ul {
    background-color: #E6E6E6;
    border: 1px solid #B8B8B8;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    text-align: left;
}

#menudrop ul ul li {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #F9F9F9;
    float: none;
    width: 145px
}

#menudrop ul ul li:hover,
#menudrop ul ul li:focus {
    background-color: #D7D7D8;
}

#menudrop ul ul a {
    line-height: 120%;
    padding: 10px 15px
}

#menudrop ul ul ul {
    top: 0;
    left: 100%
}

#menudrop ul li:hover > ul,
#menudrop ul li:focus > ul {
    display: block;
}
/*Fim - Menu DropDown*/

#userinfo {
    background-color: #F2F2F2;
    position: absolute;
    top: 238px;
    padding: 4px 0px;
    width: 100%;
    color: #444;
    text-align: center;
    font-size: 0.9em;
}

#userinfo img {
    margin-top: -5px;
}

#userinfo ul {
    display: inline;
    margin: 0px 0.8%;
}

#userinfo ul li {
    display: inline;
    margin: 0 0.1em;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 15px;
}

#userinfo a {
    color: #222;
}

#userinfo a:hover {
    text-decoration: underline;
}

#userinfo b a {
    font-weight: normal;
    font-size: 0.9em;
    font-weight: bold;
}

#stats_seeding .stat,
#stats_leeching .stat,
#stats_ratio .stat,
#stats_bjpontos .stat {
    font-weight: bold;
}

#stats_seeding .stat {
    color: #0A0;
}

#stats_leeching .stat {
    color: #F00;
}

#searchbars {
    position: absolute;
    top: 165px;
    width: 100%;
    text-align: center;
    padding: 4px 0px;
}

#searchbars input {
    background: #EAF4FF url('search.png') no-repeat center left;
    border: 1px solid #949EA7;
    position: relative;
    padding: 5px 5px 5px 25px;
    font-size: 95%;
    color: #68879D;
}

#searchbars ul {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#searchbars ul li {
    display: inline;
    margin: 0px 1px;
    list-style: none;
    position: relative;
}

#searchbars ul li ul {
    display: block;
    position: absolute;
    top: 1em;
    left: 0;
    z-index: 1000;
    background-color: #999;
    width: 12em;
    margin-top: 12px;
}

#searchbars ul li ul li {
    margin: 0 0 0 0;
    padding: 0;
    display: block;
    width: 100%;
}

#searchbars ul li ul li.highlight {
    background: #D7D7D7;
}

#searchbars ul li form {
    display: inline;
}

#alerts {
    margin-top: 65px;
    margin-bottom: -95px;
    padding: 10px 0px;
}

#cat-selector ul {
    width: 100%;
}

#cat-selector ul li {
    display: inline;
    width: 12em;
    height: 1em;
    float: left;
}

.alertbar {
    background-color: #F9EDBE;
    border: 1px solid #F0C36D;
    color: #222;
    margin: 0px auto 0px auto;
    padding: 15px;
    width: 935px;
    font-weight: bold;
    font-size: 0.95em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.alertbar a {
    color: #337ab7;
    text-decoration: none;
}

.alertbar a:hover {
    color: #23527C;
    text-decoration: underline;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */
.hidden {
    position: absolute;
    left: -10000px;
}

input.hidden {
    position: absolute;
    display: none;
}

/* Layout (Any page) */

.thin {
    width: 970px;
    margin: 0px auto;
}

.widethin { /* overriding the thin class on torrents.php */
    width: 95% !important;
    margin: 0px auto;
}

#userinfo_major .brackets:before {
    font-weight: bold;
}

#userinfo_major .brackets:after {
    font-weight: bold;
}

div.linkbox {
    text-align: center;
    padding: 5px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.min_padding {
    padding: 0px;
    margin: 0px 0px;
}

p.min_padding {
    margin: 2px 0px;
}

.pad {
    padding: 1em;
}

.vertical_space {
    margin-bottom: 10px;
}

.box {
    background: #F7F7F7;
    border: 1px solid #CACACA;
    margin-bottom: 10px;
    font-size: 12px;
}

.box2 {
    background-color: #EAEAEA;
    border: 1px solid #CACACA;
    margin-bottom: 10px;
    font-size: 12px;
}

.box3 {
    margin-bottom: 10px;
    font-size: 12px;
}

.torrent_description,
.box_albumart,
#votes_ranks,
#votes,
.box_tags,
.filter_torrents,
.cat_list {
    border: 1px solid #CACACA;
}

.pad h3, .pad h4, .padbox h3, .padbox h4 {
    margin-top: 0px;
    padding-top: 0px;
    display: inline;
}

.sidebar {
    float: right;
    width: 270px;
}

.head {
    background: url('table-header-blue.png') repeat-x;
    border-bottom: 1px solid #CACACA;
    padding: 4px;
    color: #FFF;
}

#inbox .head {
    background: url('table-header-gray.png');
    color: #333;
}

.body {
    padding: 3px 10px 10px 10px;
}

.main_column {
    width: 680px;
}

.main_column table {
    margin-bottom: 10px;
}

.tags {
    padding: 0px 0px 0px 20px;
    font-style: italic;
}

.tags a {
    color: #222;
}

.tags a:hover {
    color: #444;
    text-decoration: underline;
}

.noborder {
    border: none;
}

ul.nobullet {
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #666666;
}

#torrent_table {
    border-collapse: collapse;
    margin: 0% auto;
    max-width: 990px;
    font-size: 90%;
}

tr {
    background-color: #EEE;
}

.forum_list tr.rowb {
    background-color: #F7F7F7;
}

.forum_list tr.rowa {
    background-color: #F2F2F2;
}

.forum_list tr.rowa:hover,
.forum_list tr.rowb:hover {
    background-color: #E6E6E6;
}

.forum_index {
    border-left: 1px solid #CACACA;
    border-top: 0;
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    margin-bottom: 25px;
}

.forum_index .rowa,
.forum_index .rowb, {
    
}

td, th {
    border: 1px solid #CACACA;
    padding: 5px;
    text-align: left;
}

.forum_index td, th {
    border: 0;
}

.forum_index .rowa td, .forum_index .rowb td {
    padding: 20px;
}

.colhead {
    background: url('table-header-blue.png') repeat-x;
    font-weight: bold;
    color: #FFF;
}

.forum_index .colhead {
    background: url('table-sub-header-blue.png') repeat-x;
    font-size: 80%;
    color: #1E5395;
}

.post_return .colhead {
    background: url('table-header-gray.png');
    color: #333;
}

td.colhead, .colhead td, .colhead th {
    padding-left: 10px;
    padding-right: 10px;
}

.colhead .sign, .colhead_dark .sign {
    padding: 0px 8px 0px 8px;
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.colhead .sign {
    padding: 0px 8px 0px 8px;
    font-size: 12pt;
    font-weight: bold;
}

.colhead_dark {
    background: url('table-header-blue.png') repeat-x;
    color: #FFF;
}

.forum_post .colhead_dark {
    background: url('table-header-gray.png') repeat-x;
    color: #333;
}

#torrent_details .torrentdetails {
    background-color: #E6E6E6;
}

td.label {
    font-weight: bold;
    text-align: right;
    width: 180px;
}

table.slice {
    margin-top: -1px;
}

.error_message {
    border: 1px solid #666;
    padding: 3px 0px 3px 0px;
    background-color: #AF2525;
    text-align: center;
    color: white;
    font-weight: bold;
}

.save_message {
    border: 1px solid #666;
    padding: 3px 0px 3px 0px;
    background-color: #F4E649;
    text-align: center;
    color: #492802;
    font-weight: bold;
}

.elem_error {
    border: 3px solid #B00D0D;
}

.hidden {
    display: none;
}

/* Layout (home page) */

ul.stats li {
    padding: 0px 0px 1px 0px;
}

ul.poll li {
    padding: 0px 0px 0px 10px;
    margin: 0px;
    clear: left;
}

ul.poll li.graph {
    margin-bottom: 3px;
    padding-left: 20px;
}

.homesldframe {
    left: 0 !important;
    top: 0 !important;
}

/* Layout (Torrents page) */

.show_torrents {
    width: 28px;
    height: 28px;
    background: url('show.png') no-repeat center center;
}

.hide_torrents {
    width: 28px;
    height: 28px;
    background: url('hide.png') no-repeat center center;
}

.show_torrents_link {
    border: none;
    width: 28px;
    height: 28px;
    display: block;
}

.filter_torrents {
    width: 990px;
    margin: auto;
}

.filter_torrents .submit {
    text-align: right;
    padding-top: 5px;
}

#content form.search_form + .torrent_table {
    margin-top: 20px;
}

.cat_list tr td {
    border: none;
}

.torrent_table tr {
    vertical-align: top;
}

.torrent_table tr.torrent, .torrent_table tr.group {
    font-weight: bold;
}

.torrent_table tr.group {
    background-color: #EAEAEA;
}

.torrent_table tr.group_torrent:nth-child(4n+2) {
    background-color: #F7F7F7;
}

.torrent_table tr.group_torrent:nth-child(4n) {
    background-color: #F2F2F2;
}

.torrent_table tr.group_torrent:hover {
    background-color: #E6E6E6;
}

.torrent_table tr.torrent {
    background-color: #F2F2F2;
}

.torrent_table tr.torrent:hover ,
.torrent_table tr.group:hover {
    background-color: #E6E6E6;
}

.torrent_table div.tags {
    font-weight: normal;
}

.torrent_table tr .center {
    vertical-align: middle;
    text-align: center;
}

.group_torrent span {
    float: right;
}

.torrent span {
    font-weight: normal;
    float: right;
}

.nobr {
    white-space: nowrap;
}

/* Layout (Forums) */

.last_read {
    width: 15px;
    height: 15px;
    background: url(go_last_read.png) no-repeat center center;
    margin-left: 5px;
}

.last_read a {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}

.last_read a:hover {
    border: none;
}

.unread_locked_sticky {
    background: url(locked_sticky_unread.png) no-repeat center center;
}

.read_locked_sticky {
    background: url(locked_sticky_read.png) no-repeat center center;
}

.read_sticky {
    background: url(sticky_read.png) no-repeat center center;
}

.unread_sticky {
    background: url(sticky_unread.png) no-repeat center center;
}

.unread_locked {
    background: url(locked_unread.png) no-repeat center center;
}

.read_locked {
    background: url(locked_read.png) no-repeat center center;
}

.unread {
    background: url(unread.png) no-repeat center center;
}

.read {
    background: url(read.png) no-repeat center center;
}

strong.quoteheader {
    color: #000;
}

table.forum_post {
    margin: 10px 0px;
}

table.forum_post td {
    border: 1px solid #CACACA;
}

table.forum_unread {
    border: 2px solid #f0c36d;
}

td.avatar {
    width: 15%;
    padding: 10px;
    text-align: center;
}

table.forum_post td.body {
    padding: 15px 10px;
    width: 690px;
}

blockquote {
    margin: 10px;
    padding: 10px;
    border: 1px dashed #666;
}

/* Layout (Inbox) */

tr.unreadpm {
    background-color: #ECC;
}

/* Layout (Permission Page) */

.permission_head {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.permissions {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.permission_container {
    float: left;
    width: 300px;
    padding: 5px;
}

.permission_container input {
    margin: 0px 3px 5px 0px;
    vertical-align: top;
}

.submit_container {
    clear: both;
    text-align: right;
}

/* Layout (Invite tree) */

ul .invitetree {
    margin: 0px 0px 0px 25px;
}

.invitetree li {
    list-style: none;
    margin: 10px 2px;
}

/* Layout (User options) */

.user_options .options_list li {
    margin: 0;
}

/* Layout (MISC) */

.left_poll {
    width: 2px;
    height: 9px;
    background: url('images/bar_left.gif') no-repeat center center;
    float: left;
    margin: 0px;
    padding: 0px;
}

.center_poll {
    height: 9px;
    background: url('images/bar.gif') repeat;
    float: left;
    margin: 0px;
    padding: 0px;
}

.right_poll {
    width: 2px;
    height: 9px;
    background: url('images/bar_right.gif') no-repeat center center;
    float: left;
    margin: 0px;
    padding: 0px;
}

.curtain {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 0px;
    z-index: 1002;
    overflow: auto;
}

.center {
    text-align: center;
}

.spellcheck {
    margin: 25px 0;
    font-size: 1.25em;
    font-weight: bold;
}

tr.torrent .bookmark > a:before {
    color: black;
}

tr.torrent .bookmark > a:after {
    color: black;
}

.field_div {
    margin-bottom: 10px;
}

.edit_changelog textarea {
    width: 600px;
}

.brackets {
    font-weight: normal;
}

div[class~=tooltipster-content] > a {
    color: #AAAAAA;
}

.post_id {
    font-weight: normal;
}

.vote_tag_up, .vote_artist_up, .vote_album_up, .small_upvote, .small_upvoted {
    color: green;
}

.vote_tag_down, .vote_artist_down, .vote_album_down, .small_downvote, .small_downvoted {
    color: red;
}

/* get rid of extraneous padding in the Top Contributors box */
#request_top_contrib {
    border: none;
}

#request_top_contrib tr:first-child th {
    border-top: 0;
}

#request_top_contrib tr:last-child td {
    border-bottom: 0;
}

#request_top_contrib tr td:first-child,
#request_top_contrib tr th:first-child,
#request_top_contrib tr td:nth-child(2),
#request_top_contrib tr th:nth-child(2) {
    border-left: 0;
    border-top: 0;
}

#request_top_contrib tr td:last-child,
#request_top_contrib tr th:last-child {
    border-right: 0;
}

/* workaround for calendar display issue */
div.sidebar #event_div {
    margin-left: -232px;
}

ol {
    margin-left: 1em;
}

#forum_search_cat_list {
    border: none;
}

/*ShoutBox* /
.new_box{

    margin: 0 auto;
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    margin-bottom: 20px;
    background-color: #101010;
    line-height: 300%;

}

.new_head{
    background-color: #1a1a1a!important;
    font-weight: bold;
    height: 37px;
    text-indent: 8px;
    color: #FFF;
}

/*TOPS* /
.new_box{

    margin: 0 auto;
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    margin-bottom: 20px;
    background-color: #101010;
    line-height: 300%;

}

.new_head{
    background-color: #1a1a1a!important;
    font-weight: bold;
    height: 37px;
    text-indent: 8px;
}*/

/*ShoutBox Css*/
.chat_mark_bg {
    background-color: #d4ddeb;
    border: none;
    padding: 5px;
    text-align: left;
}

table.shoutTable {
    width: 100%;
    border-collapse: collapse;
    border: none;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

td.shoutTable {
    border: none;
    padding: 8px;
    text-align: left;
}

table.shoutTable a {
    color: #0A84AF;
}

tr.row1 {
    background-color: #f5f7fa;
}

tr.row2 {
    background-color: #FFFFFF;
}

/*Botoes e inputs submits*/
button:disabled, input[type="submit"]:disabled {
}

button, input[type=submit] {
    
    padding: 6px 8px 6px 8px;
    cursor: pointer;

}